.login-container{
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

p{
    margin: 10px 0 !important;
}

.fa-small {
    font-size: 16px !important;
}

.image-small{
    width: 180px;
}

.align{
    text-align: center;
    margin-bottom: 20px;
}